
h1{color: green ;}
    img{width: 400px;}
#thirdDiv{height: 600px; width: 500px;}
#thirdDiv{background-color: chocolate;}
#spanId{margin: 50px;}
#thirdDiv {padding: 50px;}
#thirdDiv {border-color: rgb(242, 255, 127); border-style: dashed; border-radius: 30px; border-width: 10px;}
.divClass{font-size: 18px;}